.pendant {
    margin-bottom: 10px;
}
.container {
}
.pendant__row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.pendant__col {
    display: grid;
    row-gap: 20px;
}
.pendant__middle {
}
.pendant__img {
}