.socials {
    padding: 110px 0 90px;
    background-color: #272727;
    overflow: hidden !important;
}
.container {
}
.socials__title {
    .title-2 {
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.03em;
        color: #fff;
    }
    max-width: 518px;
    margin-bottom: 80px;
}
.swiper{
    overflow: visible !important;

}
.socials__slider {
    .swiper-slide{
        width: fit-content !important;
    }
    margin-bottom: 80px;
}
.socials__row {
    display: flex;
    justify-content: space-between;
}
.socials__links{
    display: flex;
    column-gap: 20px;
}
.socials__slide{
    height: 385px;
    overflow: hidden;
    width: fit-content;
    img{
        object-fit: cover;
        height: 100%;
    }
}

.socials__slider-items {
    display: flex;
    align-items: center;
    column-gap: 50px;

}
.socials__slider-left-btn {
}
.socials__slider-pagination {
    display: flex;
    column-gap: 17px;
    align-items: center;
    .swiper-pagination-bullet{
        display: inline-block;
        background: #656565;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }

    .swiper-pagination-bullet-active{
        background: #fff;
        width: 10px;
        height: 10px;
    }
}
.socials__slider-right-btn {
}