.socials {
    padding: 110px 0 90px;
    background-color: #272727;
    overflow: hidden !important;
}
.container {
}
.socials__title {
    .title-2 {
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.03em;
        color: #fff;
    }
    max-width: 518px;
    margin-bottom: 80px;
}
.swiper{
    overflow: visible !important;

}
.socials__slider {
    .swiper-slide{
        width: fit-content !important;
    }
}
.socials__row {
}

.socials__slide{
    height: 385px;
    overflow: hidden;
    width: fit-content;
    img{
        object-fit: cover;
        height: 100%;
    }
}